.rw-conversation-container .rw-header{
    background-color: #F5360D !important;
}

.rw-conversation-container .rw-client{
       background-color: #F5360D !important; 
}
.rw-conversation-container close-button {
    background-color: #F5360D !important;
}

.rw-launcher{
    background-color: #F5360D !important;
}

.rw-conversation-container .replies {
    display:inline-block;   
}
.rw-conversation-container .reply{
    display:block;
    text-align: center;
}